body{
    background-color: #fecc00;
}

#mainContain{
    background-image: url('../img/yellowburger.jpg');
    background-repeat: no-repeat;
    
    background-position:  180%  0%;
  
    /* background-color: red; */
    height: 100vh;

}
.btn{
    /* background-color: #feaf17; */
}